@page
@model QRGenerator.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>QR Generator</h1>

    <form method="post" asp-page-handler="OnPost" class="form-inline">
        <div class="form-group mb-2">
            <label for="name" class="sr-only">Text</label>
            <input type="text" class="form-control-plaintext" id="texto" name="texto" placeholder="Enter the text" required>
        </div>

        <button type="submit" class="btn btn-primary mb-2">Generar QR</button>
    </form>

    @if (!string.IsNullOrEmpty(Model.QrCode))
    {
        <div class="text-center">
            <h1>QR Code</h1>
            <img alt="Código QR" class="img-responsive" src="data:image/png;base64,@Model.QrCode" />
        </div>
    }
</div>